.temporar {
    position: absolute;
    z-index: 10;
    height: inherit;
    background-color:#4287f5;
    border: 1px solid rgb(0, 48, 151);
    border-radius: 15px;
    cursor:move;        
    &__text {
        display: block;
        position: absolute;
        top: -70px;
        z-index: 100;
        left: -30px;
        width: 100px;
        text-align: center;
    }
    &__img {
        width: 100px;
        position: absolute;
        left: -30px;
        top: -75px;
    }
}